# ========================
# Global
# ========================
.DS_Store
.env
.env.*
*.log

# ========================
# Node
# ========================
node_modules/
npm-debug.log*
yarn-error.log*

# ========================
# Backend
# ========================
backend/node_modules/
backend/dist/
backend/.env

# Prisma
backend/prisma/migrations/

# ========================
# Frontend (SvelteKit)
# ========================
frontend/node_modules/
frontend/.svelte-kit/
frontend/build/
frontend/dist/
frontend/.env

# ========================
# IDE
# ========================
.vscode/
.idea/
